{% extends 'base.html' %}
{% block title %}Add nicknames{% endblock title %}
{% block content %}
  <div class="container p-4">
    <form action = "/add" method = "post" class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-center">
          <div class="form-group col-5">
            <textarea rows="3" class="form-control" name="males" placeholder="And male nicknames (singular) separated with spaces or new lines"></textarea>
          </div>
          <div class="form-group col-5">
            <textarea rows="3" class="form-control" name="females" placeholder="And female nicknames (singular) separated with spaces or new lines"></textarea>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-outline-light">Add</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row justify-content-center my-5">
      <div class="col-8 col-sm-8 mytable p-3">
        <div class="row justify-content-center">
          <div class="col-6">
            <h6 class="text-sec mb-3">Male nicknames</h5>
            {% if males %}
              {% for male in males %}
              <div><a class="dark_link" href="#0" onClick="toClickbroard(this); return false;">{{ male }}</a></div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-6">
            <h6 class="text-sec mb-3">Female nicknames</h5>
            {% if females %}
              {% for female in females %}
                <div><a class="dark_link" href="#0" onClick="toClickbroard(this); return false;">{{ female }}</a></div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}