<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block head_description %}{% endblock %}">
    <meta name="author" content="{% block head_author %}{% endblock %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{{ url_for('static', path='img/fav/favicon-32x32.png') }}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    <script src="{{ url_for('static', path='js/jquery-3.6.3.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/popper.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="d-flex flex-column h-100 bg-dark-main">
    <header>
      {% include "header.html" %}
    </header>
    <main class="d-flex flex-grow-1">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="footer text-center ">
      {% include "footer.html" %}
    </footer>
  </body>
</html>
